* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #FFFFFF; }

@font-face {
  font-family: "Noto Sans";
  src: url(/assets/fonts/NotoSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Noto Sans";
  src: url(/assets/fonts/NotoSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Noto Sans";
  src: url(/assets/fonts/NotoSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Noto Sans";
  src: url(/assets/fonts/NotoSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Noto Sans";
  src: url(/assets/fonts/NotoSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
body {
  font-family: Noto Sans, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  transition: 0.3s ease;
  scroll-behavior: smooth;
  color: #242D2F;
  background-color: #ffffff;
  display: flex;
  flex-direction: column; }

.content {
  max-width: calc(1440px + 16px * 2);
  padding: 0 16px;
  margin: 0 auto;
  width: 100%; }

.header {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .header .dark-row {
    background: #242D2F; }
    @media (max-width: 1132px) {
      .header .dark-row {
        display: none; } }
    .header .dark-row .content {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header .dark-row .content .contacts {
        padding: 10px 0;
        display: flex;
        gap: 30px;
        align-items: center; }
        .header .dark-row .content .contacts p {
          display: flex;
          gap: 10px;
          align-items: center; }
          .header .dark-row .content .contacts p.time {
            color: #FFF;
            font-family: "Noto Sans";
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; }
            .header .dark-row .content .contacts p.time:before {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 6.4C8.90721 6.4 6.4 8.90721 6.4 12C6.4 15.0928 8.90721 17.6 12 17.6C15.0928 17.6 17.6 15.0928 17.6 12C17.6 8.90721 15.0928 6.4 12 6.4ZM5 12C5 8.13401 8.13401 5 12 5C15.866 5 19 8.13401 19 12C19 15.866 15.866 19 12 19C8.13401 19 5 15.866 5 12ZM12 7.8C12.3866 7.8 12.7 8.1134 12.7 8.5V11.7101L14.595 13.605C14.8683 13.8784 14.8683 14.3216 14.595 14.595C14.3216 14.8683 13.8784 14.8683 13.605 14.595L11.505 12.495C11.3737 12.3637 11.3 12.1857 11.3 12V8.5C11.3 8.1134 11.6134 7.8 12 7.8Z' fill='%23CFAB62'/%3E%3C/svg%3E");
              display: block; }
          .header .dark-row .content .contacts p.location {
            color: #94989A;
            font-family: "Noto Sans";
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; }
            .header .dark-row .content .contacts p.location:before {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 6C9.25 6 7 8.16 7 10.8C7 14.04 11.375 17.7 11.5625 17.88C11.6875 17.94 11.875 18 12 18C12.125 18 12.3125 17.94 12.4375 17.88C12.625 17.7 17 14.04 17 10.8C17 8.16 14.75 6 12 6ZM12 16.62C10.6875 15.42 8.25 12.84 8.25 10.8C8.25 8.82 9.9375 7.2 12 7.2C14.0625 7.2 15.75 8.82 15.75 10.8C15.75 12.78 13.3125 15.42 12 16.62ZM12 8.4C10.625 8.4 9.5 9.48 9.5 10.8C9.5 12.12 10.625 13.2 12 13.2C13.375 13.2 14.5 12.12 14.5 10.8C14.5 9.48 13.375 8.4 12 8.4ZM12 12C11.3125 12 10.75 11.46 10.75 10.8C10.75 10.14 11.3125 9.6 12 9.6C12.6875 9.6 13.25 10.14 13.25 10.8C13.25 11.46 12.6875 12 12 12Z' fill='%23CFAB62'/%3E%3C/svg%3E");
              display: block; }
      .header .dark-row .content .lang {
        position: relative;
        display: flex;
        padding: 10px 15px;
        align-items: center;
        gap: 10px;
        transition: .3s ease;
        background: #505759; }
        .header .dark-row .content .lang .lang-link {
          color: #FFF;
          font-family: "Noto Sans";
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;
          transition: .3s ease; }
          .header .dark-row .content .lang .lang-link::after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.7071 9.29289C18.3166 8.90237 17.6834 8.90237 17.2929 9.29289L12 14.5858L6.70711 9.29289C6.31658 8.90237 5.68342 8.90237 5.29289 9.29289C4.90237 9.68342 4.90237 10.3166 5.29289 10.7071L11.2929 16.7071C11.6834 17.0976 12.3166 17.0976 12.7071 16.7071L18.7071 10.7071C19.0976 10.3166 19.0976 9.68342 18.7071 9.29289Z' fill='white'/%3E%3C/svg%3E");
            display: block;
            transition: .6s ease; }
        .header .dark-row .content .lang .lang-content {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          border-radius: 0 0 10px 10px;
          opacity: 0;
          visibility: hidden;
          background: #FCDB7E;
          padding-bottom: 10px; }
          .header .dark-row .content .lang .lang-content li {
            padding: 5px 15px; }
            .header .dark-row .content .lang .lang-content li a {
              color: #242D2F;
              font-family: "Noto Sans";
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: normal; }
        .header .dark-row .content .lang:hover .lang-content {
          opacity: 1;
          visibility: visible; }
        .header .dark-row .content .lang:hover {
          background: #FCDB7E; }
          .header .dark-row .content .lang:hover .lang-link {
            color: #242D2F; }
            .header .dark-row .content .lang:hover .lang-link::after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.7071 9.29289C18.3166 8.90237 17.6834 8.90237 17.2929 9.29289L12 14.5858L6.70711 9.29289C6.31658 8.90237 5.68342 8.90237 5.29289 9.29289C4.90237 9.68342 4.90237 10.3166 5.29289 10.7071L11.2929 16.7071C11.6834 17.0976 12.3166 17.0976 12.7071 16.7071L18.7071 10.7071C19.0976 10.3166 19.0976 9.68342 18.7071 9.29289Z' fill='%23242D2F'/%3E%3C/svg%3E");
              display: block;
              transform: rotate(180deg); }
  .header .main-row {
    padding: 10px 0;
    background: #FFF; }
    @media (max-width: 1132px) {
      .header .main-row {
        display: none; } }
    .header .main-row .nav-panel {
      display: flex;
      gap: 10px;
      align-items: center; }
      .header .main-row .nav-panel .catalog-wrapper {
        width: 153px;
        height: 44px;
        position: relative; }
        @media (max-width: 1318px) {
          .header .main-row .nav-panel .catalog-wrapper {
            width: 123px; } }
        .header .main-row .nav-panel .catalog-wrapper .catalog-block {
          transition: .3s ease;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2; }
          .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-btn {
            border-radius: 5px;
            background: #242D2F;
            display: flex;
            padding: 10px 20px;
            cursor: pointer;
            align-items: center;
            gap: 20px;
            transition: all .3s;
            position: relative;
            overflow: hidden;
            z-index: 1; }
            @media (max-width: 1318px) {
              .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-btn {
                padding: 10px;
                gap: 10px; } }
            .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-btn:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #242D2F;
              border-radius: 10rem;
              z-index: -2;
              transform-origin: bottom left;
              transform: skew(-45deg); }
            .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-btn:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 0%;
              height: 100%;
              background-color: #FCDB7E;
              transition: all .3s;
              z-index: -1;
              transform-origin: top left;
              transform: skew(-45deg); }
            .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-btn:hover {
              background: #FCDB7E;
              color: #fff; }
              .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-btn:hover:before {
                width: 140%; }
            .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-btn p {
              color: #FFF;
              font-family: "Noto Sans";
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase; }
            .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-btn span {
              display: flex;
              align-items: center; }
          .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-menu {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 5px 20px 30px;
            display: none; }
            .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-menu li a {
              color: #242D2F;
              font-family: "Noto Sans";
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              transition: .3s ease; }
              .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-menu li a:hover {
                color: #A57A35;
                font-family: "Noto Sans";
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; }
              .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-menu li a.dropright {
                display: flex;
                justify-content: space-between;
                align-items: center; }
                .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-menu li a.dropright:after {
                  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9.29289 18.7071C8.90237 18.3166 8.90237 17.6834 9.29289 17.2929L14.5858 12L9.29289 6.70711C8.90237 6.31658 8.90237 5.68342 9.29289 5.29289C9.68342 4.90237 10.3166 4.90237 10.7071 5.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L10.7071 18.7071C10.3166 19.0976 9.68342 19.0976 9.29289 18.7071Z' fill='%23242D2F'/%3E%3C/svg%3E");
                  display: block; }
            .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-menu li.dropright-inner {
              position: relative; }
              .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-menu li.dropright-inner .catalog-submenu {
                position: absolute;
                top: -15px;
                right: -279px;
                display: flex;
                width: 259px;
                padding: 20px;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                border-radius: 5px;
                background: #FCDB7E;
                transition: .3s ease;
                display: none; }
                .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-menu li.dropright-inner .catalog-submenu li a {
                  color: #242D2F;
                  font-family: "Noto Sans";
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  transition: .3s ease; }
                  .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-menu li.dropright-inner .catalog-submenu li a:hover {
                    color: #A57A35;
                    font-family: "Noto Sans";
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal; }
                .header .main-row .nav-panel .catalog-wrapper .catalog-block .catalog-menu li.dropright-inner .catalog-submenu.active {
                  display: flex; }
          .header .main-row .nav-panel .catalog-wrapper .catalog-block.active {
            border-radius: 5px;
            background: #FCDB7E;
            width: 259px; }
            .header .main-row .nav-panel .catalog-wrapper .catalog-block.active .catalog-menu {
              display: flex; }
            .header .main-row .nav-panel .catalog-wrapper .catalog-block.active .catalog-btn {
              background: #FCDB7E; }
              .header .main-row .nav-panel .catalog-wrapper .catalog-block.active .catalog-btn p {
                color: #242D2F; }
              .header .main-row .nav-panel .catalog-wrapper .catalog-block.active .catalog-btn svg path {
                fill: #242D2F; }
              .header .main-row .nav-panel .catalog-wrapper .catalog-block.active .catalog-btn:after {
                background: #FCDB7E; }
      .header .main-row .nav-panel nav ul {
        display: flex;
        gap: 10px; }
        @media (max-width: 1170px) {
          .header .main-row .nav-panel nav ul {
            gap: 0; } }
        .header .main-row .nav-panel nav ul li {
          position: relative; }
          .header .main-row .nav-panel nav ul li a {
            display: flex;
            padding: 10px 20px;
            align-items: center;
            gap: 10px; }
            @media (max-width: 1420px) {
              .header .main-row .nav-panel nav ul li a {
                padding: 10px; } }
            .header .main-row .nav-panel nav ul li a span {
              color: #242D2F;
              font-family: "Noto Sans";
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase;
              transition: .3s ease; }
              @media (max-width: 1318px) {
                .header .main-row .nav-panel nav ul li a span {
                  font-size: 13px; } }
            .header .main-row .nav-panel nav ul li a svg path {
              transition: .3s ease; }
            .header .main-row .nav-panel nav ul li a:hover span {
              color: #F1C880;
              font-family: "Noto Sans";
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase; }
            .header .main-row .nav-panel nav ul li a:hover svg path {
              fill: #BC924D; }
          .header .main-row .nav-panel nav ul li .dropdown-menu, .header .main-row .nav-panel nav ul li .dropdown-menu-more-items {
            width: 252px;
            display: flex;
            padding: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 25px;
            align-self: stretch;
            background: #FFF;
            box-shadow: 0px 6px 10.5px -7px rgba(0, 0, 0, 0.25);
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 2;
            display: none; }
            .header .main-row .nav-panel nav ul li .dropdown-menu.active, .header .main-row .nav-panel nav ul li .dropdown-menu-more-items.active {
              display: flex; }
            .header .main-row .nav-panel nav ul li .dropdown-menu a, .header .main-row .nav-panel nav ul li .dropdown-menu-more-items a {
              color: #242D2F;
              font-family: "Noto Sans";
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-transform: uppercase;
              transition: .3s ease;
              padding: 0; }
              .header .main-row .nav-panel nav ul li .dropdown-menu a:hover, .header .main-row .nav-panel nav ul li .dropdown-menu-more-items a:hover {
                color: #BC924D;
                font-family: "Noto Sans";
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase; }
      .header .main-row .nav-panel .contacts {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-left: auto; }
        @media (max-width: 1318px) {
          .header .main-row .nav-panel .contacts {
            gap: 10px; } }
        .header .main-row .nav-panel .contacts .header-phone {
          position: relative;
          display: flex;
          padding: 10px 0;
          align-items: center;
          gap: 10px;
          transition: .3s ease; }
          .header .main-row .nav-panel .contacts .header-phone .header-phone-link {
            color: #242D2F;
            font-family: "Noto Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
            transition: .3s ease; }
            @media (max-width: 1318px) {
              .header .main-row .nav-panel .contacts .header-phone .header-phone-link {
                font-size: 15px; } }
            .header .main-row .nav-panel .contacts .header-phone .header-phone-link::after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.7071 9.29289C18.3166 8.90237 17.6834 8.90237 17.2929 9.29289L12 14.5858L6.70711 9.29289C6.31658 8.90237 5.68342 8.90237 5.29289 9.29289C4.90237 9.68342 4.90237 10.3166 5.29289 10.7071L11.2929 16.7071C11.6834 17.0976 12.3166 17.0976 12.7071 16.7071L18.7071 10.7071C19.0976 10.3166 19.0976 9.68342 18.7071 9.29289Z' fill='%23242D2F'/%3E%3C/svg%3E");
              display: block;
              transition: .6s ease; }
            .header .main-row .nav-panel .contacts .header-phone .header-phone-link::before {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20.9995 16.4767V19.1864C21.0037 20.2223 20.0723 21.0873 19.0265 20.9929C10.0001 21 3.00006 13.935 3.00713 4.96919C2.91294 3.92895 3.77364 3.00106 4.80817 3.00009H7.52331C7.96253 2.99577 8.38835 3.151 8.72138 3.43684C9.66819 4.24949 10.2772 7.00777 10.0429 8.10428C9.85994 8.96036 8.99696 9.55929 8.41026 10.1448C9.69864 12.4062 11.5747 14.2785 13.8405 15.5644C14.4272 14.9788 15.0274 14.1176 15.8851 13.935C16.9855 13.7008 19.7615 14.3106 20.5709 15.264C20.858 15.6021 21.0105 16.0337 20.9995 16.4767Z' stroke='%23BDA493' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              display: block;
              transition: .6s ease; }
          .header .main-row .nav-panel .contacts .header-phone .header-phone-content {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            border-radius: 0 0 10px 10px;
            opacity: 0;
            visibility: hidden;
            border-radius: 5px;
            background: #FFF;
            box-shadow: 0px 6px 10.5px -7px rgba(0, 0, 0, 0.25); }
            .header .main-row .nav-panel .contacts .header-phone .header-phone-content li {
              padding: 5px 10px;
              display: flex;
              align-items: center;
              justify-content: center; }
              .header .main-row .nav-panel .contacts .header-phone .header-phone-content li a {
                color: #242D2F;
                font-family: "Noto Sans";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                transition: .3s ease; }
                @media (max-width: 1318px) {
                  .header .main-row .nav-panel .contacts .header-phone .header-phone-content li a {
                    font-size: 15px; } }
                .header .main-row .nav-panel .contacts .header-phone .header-phone-content li a:hover {
                  color: #BC924D; }
          .header .main-row .nav-panel .contacts .header-phone:hover .header-phone-content {
            opacity: 1;
            visibility: visible; }
          .header .main-row .nav-panel .contacts .header-phone:hover .header-phone-link {
            color: #242D2F; }
            .header .main-row .nav-panel .contacts .header-phone:hover .header-phone-link::after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.7071 9.29289C18.3166 8.90237 17.6834 8.90237 17.2929 9.29289L12 14.5858L6.70711 9.29289C6.31658 8.90237 5.68342 8.90237 5.29289 9.29289C4.90237 9.68342 4.90237 10.3166 5.29289 10.7071L11.2929 16.7071C11.6834 17.0976 12.3166 17.0976 12.7071 16.7071L18.7071 10.7071C19.0976 10.3166 19.0976 9.68342 18.7071 9.29289Z' fill='%23242D2F'/%3E%3C/svg%3E");
              display: block;
              transform: rotate(180deg); }
        .header .main-row .nav-panel .contacts .social-link svg circle {
          transition: .3s ease; }
        .header .main-row .nav-panel .contacts .social-link:hover.watsapp svg circle {
          fill: #3ADC49; }
        .header .main-row .nav-panel .contacts .social-link:hover.viber svg circle {
          fill: #864CB2; }
        .header .main-row .nav-panel .contacts .social-link:hover.email svg circle {
          fill: #FCDB7E; }
  .header .mobile-header {
    padding: 10px 0;
    position: relative;
    display: none; }
    @media (max-width: 1132px) {
      .header .mobile-header {
        display: block; } }
    .header .mobile-header .content {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header .mobile-header .content .mobile-lang {
        position: relative;
        display: flex;
        padding: 10px 15px;
        align-items: center;
        gap: 10px;
        transition: .3s ease;
        border-radius: 10px 10px 0 0; }
        .header .mobile-header .content .mobile-lang .lang-link {
          color: #242D2F;
          font-family: "Noto Sans";
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;
          transition: .3s ease; }
          .header .mobile-header .content .mobile-lang .lang-link::after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.7071 9.29289C18.3166 8.90237 17.6834 8.90237 17.2929 9.29289L12 14.5858L6.70711 9.29289C6.31658 8.90237 5.68342 8.90237 5.29289 9.29289C4.90237 9.68342 4.90237 10.3166 5.29289 10.7071L11.2929 16.7071C11.6834 17.0976 12.3166 17.0976 12.7071 16.7071L18.7071 10.7071C19.0976 10.3166 19.0976 9.68342 18.7071 9.29289Z' fill='%23242D2F'/%3E%3C/svg%3E");
            display: block;
            transition: .6s ease; }
        .header .mobile-header .content .mobile-lang .lang-content {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          border-radius: 0 0 10px 10px;
          opacity: 0;
          visibility: hidden;
          background: #FCDB7E;
          padding-bottom: 10px; }
          .header .mobile-header .content .mobile-lang .lang-content li {
            padding: 5px 15px; }
            .header .mobile-header .content .mobile-lang .lang-content li a {
              color: #242D2F;
              font-family: "Noto Sans";
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: normal; }
        .header .mobile-header .content .mobile-lang:hover .lang-content {
          opacity: 1;
          visibility: visible; }
        .header .mobile-header .content .mobile-lang:hover {
          background: #FCDB7E; }
          .header .mobile-header .content .mobile-lang:hover .lang-link {
            color: #242D2F; }
            .header .mobile-header .content .mobile-lang:hover .lang-link::after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.7071 9.29289C18.3166 8.90237 17.6834 8.90237 17.2929 9.29289L12 14.5858L6.70711 9.29289C6.31658 8.90237 5.68342 8.90237 5.29289 9.29289C4.90237 9.68342 4.90237 10.3166 5.29289 10.7071L11.2929 16.7071C11.6834 17.0976 12.3166 17.0976 12.7071 16.7071L18.7071 10.7071C19.0976 10.3166 19.0976 9.68342 18.7071 9.29289Z' fill='%23242D2F'/%3E%3C/svg%3E");
              display: block;
              transform: rotate(180deg); }
  .header .mobile-menu {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 30px 20px 50px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    background: #242D2F;
    position: fixed;
    top: 0;
    left: -2100px;
    opacity: 0;
    z-index: 3;
    transition: .5s ease; }
    .header .mobile-menu.active {
      left: 0;
      opacity: 1;
      transition: .5s ease; }
    .header .mobile-menu .close-row {
      width: 100%;
      display: flex;
      justify-content: flex-end; }
      .header .mobile-menu .close-row.close-row-inside {
        justify-content: space-between;
        align-items: center; }
        .header .mobile-menu .close-row.close-row-inside .back {
          color: #9CA0A1;
          font-family: "Noto Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          gap: 20px; }
          .header .mobile-menu .close-row.close-row-inside .back::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M14.7071 19.2071C15.0976 18.8166 15.0976 18.1834 14.7071 17.7929L9.41421 12.5L14.7071 7.20711C15.0976 6.81658 15.0976 6.18342 14.7071 5.79289C14.3166 5.40237 13.6834 5.40237 13.2929 5.79289L7.29289 11.7929C6.90237 12.1834 6.90237 12.8166 7.29289 13.2071L13.2929 19.2071C13.6834 19.5976 14.3166 19.5976 14.7071 19.2071Z' fill='%239CA0A1'/%3E%3C/svg%3E");
            display: block;
            margin-top: 8px; }
      .header .mobile-menu .close-row .close-btn {
        cursor: pointer; }
    .header .mobile-menu ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 0 30px; }
      .header .mobile-menu ul li a {
        color: #FFF;
        font-family: "Noto Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        display: flex;
        gap: 20px;
        align-items: center; }
        .header .mobile-menu ul li a.little-text {
          color: #FFF;
          font-family: "Noto Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase; }
        .header .mobile-menu ul li a::before {
          content: '';
          width: 9px;
          height: 9px;
          border-radius: 50px;
          flex-shrink: 0;
          background: #F1C880; }
        .header .mobile-menu ul li a.dropright::after {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M9.29289 19.2071C8.90237 18.8166 8.90237 18.1834 9.29289 17.7929L14.5858 12.5L9.29289 7.20711C8.90237 6.81658 8.90237 6.18342 9.29289 5.79289C9.68342 5.40237 10.3166 5.40237 10.7071 5.79289L16.7071 11.7929C17.0976 12.1834 17.0976 12.8166 16.7071 13.2071L10.7071 19.2071C10.3166 19.5976 9.68342 19.5976 9.29289 19.2071Z' fill='white'/%3E%3C/svg%3E");
          display: block; }
      .header .mobile-menu ul li .screen {
        display: flex;
        width: 100%;
        min-height: 100vh;
        padding: 30px 20px 50px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        background: #242D2F;
        position: fixed;
        top: 0;
        left: -2100px;
        opacity: 0;
        z-index: 4; }
        .header .mobile-menu ul li .screen.active {
          left: 0;
          opacity: 1;
          transition: .5s ease; }
        .header .mobile-menu ul li .screen ul li a {
          color: #FFF;
          font-family: "Noto Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase; }
    .header .mobile-menu .mobile-menu-line {
      width: 100%;
      height: 1px;
      background: #495052;
      flex-shrink: 0;
      margin-top: auto; }
    .header .mobile-menu .mobile-contacts {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      width: 100%; }
      .header .mobile-menu .mobile-contacts .phone-link {
        color: #FFF;
        font-family: "Noto Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 10px; }
        .header .mobile-menu .mobile-contacts .phone-link::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath d='M21.4995 16.9767V19.6864C21.5037 20.7223 20.5723 21.5873 19.5265 21.4929C10.5001 21.5 3.50006 14.435 3.50713 5.46919C3.41294 4.42895 4.27364 3.50106 5.30817 3.50009H8.02331C8.46253 3.49577 8.88835 3.651 9.22138 3.93684C10.1682 4.74949 10.7772 7.50777 10.5429 8.60428C10.3599 9.46036 9.49696 10.0593 8.91026 10.6448C10.1986 12.9062 12.0747 14.7785 14.3405 16.0644C14.9272 15.4788 15.5274 14.6176 16.3851 14.435C17.4855 14.2008 20.2615 14.8106 21.0709 15.764C21.358 16.1021 21.5105 16.5337 21.4995 16.9767Z' stroke='%23F1C880' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          display: block; }
      .header .mobile-menu .mobile-contacts .social {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center; }
        .header .mobile-menu .mobile-contacts .social a::before {
          content: none; }

.breadcrumbs-wrap {
  padding: 25px 0; }
  .breadcrumbs-wrap .breadcrumbs {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap; }
    @media (max-width: 1024px) {
      .breadcrumbs-wrap .breadcrumbs {
        gap: 15px; } }
    .breadcrumbs-wrap .breadcrumbs li a {
      color: #242D2F;
      font-family: "Noto Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline; }
      .breadcrumbs-wrap .breadcrumbs li a.disabled {
        color: #CCC;
        font-family: "Noto Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; }

.catalog {
  padding: 50px 0 100px;
  background: #FAFAFA; }
  @media (max-width: 1024px) {
    .catalog {
      padding: 20px 0; } }
  .catalog h2 {
    color: #CCC;
    font-family: "Noto Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: left; }
    @media (max-width: 1024px) {
      .catalog h2 {
        text-align: center;
        margin-bottom: 20px; } }
  .catalog .catalog-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap; }
    .catalog .catalog-cards .catalog-card {
      border-radius: 5px;
      background: #FAFAFA;
      max-width: 457px;
      width: 100%;
      height: 284px;
      position: relative;
      overflow: hidden;
      padding: 40px 36px 0; }
      @media (max-width: 1024px) {
        .catalog .catalog-cards .catalog-card {
          max-width: calc((100% - 30px)/2); } }
      @media (max-width: 780px) {
        .catalog .catalog-cards .catalog-card {
          max-width: 100%; } }
      @media (max-width: 500px) {
        .catalog .catalog-cards .catalog-card {
          height: 184px;
          padding: 27px 21px 0; } }
      .catalog .catalog-cards .catalog-card .little-circle {
        width: 69px;
        height: 69px;
        flex-shrink: 0;
        border-radius: 50px;
        position: absolute;
        top: -30px;
        right: -30px;
        transition: .3s ease; }
        .catalog .catalog-cards .catalog-card .little-circle.orange-circle {
          background: #F1C880; }
        .catalog .catalog-cards .catalog-card .little-circle.gray-circle {
          background: #CCC; }
      .catalog .catalog-cards .catalog-card .big-circle {
        width: 560px;
        height: 560px;
        flex-shrink: 0;
        border-radius: 560px;
        background: #F1C880;
        position: absolute;
        bottom: -300px;
        left: -300px;
        transition: .3s ease; }
        .catalog .catalog-cards .catalog-card .big-circle.orange-circle {
          background: #F1C880; }
        .catalog .catalog-cards .catalog-card .big-circle.gray-circle {
          background: #CCC; }
      .catalog .catalog-cards .catalog-card:hover .little-circle {
        top: -20px;
        right: -20px; }
      .catalog .catalog-cards .catalog-card:hover .big-circle {
        bottom: -280px;
        left: -280px; }
      .catalog .catalog-cards .catalog-card .card-content {
        position: relative;
        z-index: 1;
        display: flex;
        gap: 50px;
        align-items: flex-start; }
        @media (max-width: 768px) {
          .catalog .catalog-cards .catalog-card .card-content {
            gap: 30px; } }
        .catalog .catalog-cards .catalog-card .card-content .door-image {
          width: 108px;
          height: 243px;
          flex-shrink: 0; }
          @media (max-width: 500px) {
            .catalog .catalog-cards .catalog-card .card-content .door-image {
              width: 71px;
              height: 160px;
              flex-shrink: 0; } }
          .catalog .catalog-cards .catalog-card .card-content .door-image img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .catalog .catalog-cards .catalog-card .card-content .info {
          display: flex;
          flex-direction: column;
          gap: 40px; }
          @media (max-width: 1024px) {
            .catalog .catalog-cards .catalog-card .card-content .info {
              gap: 33px; } }
          @media (max-width: 500px) {
            .catalog .catalog-cards .catalog-card .card-content .info {
              gap: 20px; } }
          .catalog .catalog-cards .catalog-card .card-content .info p {
            color: #242D2F;
            font-family: "Noto Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase; }
            @media (max-width: 1024px) {
              .catalog .catalog-cards .catalog-card .card-content .info p {
                font-size: 15px; } }
            .catalog .catalog-cards .catalog-card .card-content .info p span {
              color: #242D2F;
              font-family: "Noto Sans";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-transform: uppercase; }
              @media (max-width: 1024px) {
                .catalog .catalog-cards .catalog-card .card-content .info p span {
                  font-size: 15px; } }
          .catalog .catalog-cards .catalog-card .card-content .info a {
            display: flex;
            padding: 18px 25px;
            align-items: center;
            gap: 20px;
            border-radius: 5px;
            background: #242D2F;
            color: #fff;
            font-family: "Noto Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            overflow: hidden;
            width: fit-content; }
            @media (max-width: 1024px) {
              .catalog .catalog-cards .catalog-card .card-content .info a {
                font-size: 15px;
                padding: 8px 10px; } }
            .catalog .catalog-cards .catalog-card .card-content .info a:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 5px;
              background: #242D2F;
              z-index: -2;
              transform-origin: bottom left;
              transform: skew(-45deg); }
            .catalog .catalog-cards .catalog-card .card-content .info a:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 0%;
              height: 100%;
              background-color: #fac633;
              transition: all .3s;
              z-index: -1;
              transform-origin: top left;
              transform: skew(-45deg); }
            .catalog .catalog-cards .catalog-card .card-content .info a:hover {
              color: #fff; }
              .catalog .catalog-cards .catalog-card .card-content .info a:hover:before {
                width: 140%; }

.collection {
  padding: 50px 0 100px;
  background: #FAFAFA; }
  @media (max-width: 1024px) {
    .collection {
      padding: 20px 0; } }
  .collection h2 {
    color: #242D2F;
    font-family: "Noto Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: left; }
    @media (max-width: 1024px) {
      .collection h2 {
        text-align: center;
        margin-bottom: 20px; } }
  .collection .filter {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap; }
    .collection .filter li {
      display: flex;
      padding: 10px 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-radius: 5px;
      background: #F5F5F5;
      transition: .3s ease;
      color: #94989A;
      font-family: "Noto Sans";
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase; }
      @media (max-width: 1024px) {
        .collection .filter li {
          padding: 5px 10px;
          font-size: 12px; } }
      .collection .filter li.active {
        border-radius: 5px;
        background: #242D2F;
        color: #FFF; }

.new-products {
  padding: 50px 0 100px;
  background: #FAFAFA; }
  @media (max-width: 1024px) {
    .new-products {
      padding: 20px 0; } }
  .new-products h2 {
    color: #CCC;
    font-family: "Noto Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: left; }
    @media (max-width: 1024px) {
      .new-products h2 {
        text-align: center;
        margin-bottom: 20px; } }
  .new-products .new-products-wrap {
    width: 100%; }
    .new-products .new-products-wrap .swiper-slide .product-card {
      display: flex;
      width: 270px;
      padding: 30px;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      border-radius: 5px;
      background: #FFF;
      box-shadow: 0px 9px 27.9px -15px rgba(0, 0, 0, 0.25);
      transition: .3s ease; }
      .new-products .new-products-wrap .swiper-slide .product-card p {
        color: #242D2F;
        text-align: center;
        font-family: "Noto Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase; }
      .new-products .new-products-wrap .swiper-slide .product-card .gallery {
        width: 210px;
        height: 292px;
        flex-shrink: 0;
        transition: .3s ease; }
      .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset {
        display: flex;
        gap: 5px;
        align-items: center;
        border: none; }
        .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div {
          display: flex;
          gap: 5px;
          align-items: center; }
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div [type="radio"]:checked,
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px; }
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div [type="radio"]:checked + label,
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            display: inline-block;
            height: 25px; }
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div [type="radio"]:checked + label:before,
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 23px;
            height: 23px;
            border: 1px solid transparent;
            border-radius: 100%;
            background: #fff; }
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div [type="radio"]:checked + label:before {
            border: 2px solid #FCDB7E; }
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div [type="radio"]:checked + label:after,
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 15px;
            height: 15px;
            position: absolute;
            top: 6px;
            left: 6px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease; }
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div .black:checked + label:after,
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div .black:not(:checked) + label:after {
            background: #242D2F; }
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div .light-gray:checked + label:after,
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div .light-gray:not(:checked) + label:after {
            background: #F0F0F0; }
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div .gray:checked + label:after,
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div .gray:not(:checked) + label:after {
            background: #CCCCCC; }
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div .orange:checked + label:after,
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div .orange:not(:checked) + label:after {
            background: #F1C880; }
          .new-products .new-products-wrap .swiper-slide .product-card .radio-inner fieldset div [type="radio"]:checked + label:after {
            opacity: 1; }
      .new-products .new-products-wrap .swiper-slide .product-card .mini-gallery-wrap {
        display: flex;
        gap: 5px;
        width: 100%;
        align-items: center; }
      .new-products .new-products-wrap .swiper-slide .product-card .gallery-mini {
        max-width: calc(100% - 24px - 24px - 10px);
        width: 100%; }
        .new-products .new-products-wrap .swiper-slide .product-card .gallery-mini .swiper-slide {
          width: 26px;
          height: 35px;
          transition: .3s ease;
          cursor: pointer; }
          .new-products .new-products-wrap .swiper-slide .product-card .gallery-mini .swiper-slide.swiper-slide-active {
            transform: scale(1.2); }
          .new-products .new-products-wrap .swiper-slide .product-card .gallery-mini .swiper-slide img {
            width: 100%;
            height: 100%;
            object-fit: contain; }
      .new-products .new-products-wrap .swiper-slide .product-card:hover {
        border-radius: 5px;
        background: #FCFCFC;
        box-shadow: none; }
        .new-products .new-products-wrap .swiper-slide .product-card:hover .gallery {
          transform: scale(1.1); }
      .new-products .new-products-wrap .swiper-slide .product-card .btn {
        display: flex;
        padding: 12px 15px;
        align-items: center;
        gap: 20px;
        border-radius: 5px;
        background: #242D2F;
        color: #fff;
        font-family: "Noto Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        overflow: hidden;
        width: fit-content; }
        @media (max-width: 1024px) {
          .new-products .new-products-wrap .swiper-slide .product-card .btn {
            font-size: 15px;
            padding: 8px 10px; } }
        .new-products .new-products-wrap .swiper-slide .product-card .btn:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          background: #242D2F;
          z-index: -2;
          transform-origin: bottom left;
          transform: skew(-45deg); }
        .new-products .new-products-wrap .swiper-slide .product-card .btn:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: #fac633;
          transition: all .3s;
          z-index: -1;
          transform-origin: top left;
          transform: skew(-45deg); }
        .new-products .new-products-wrap .swiper-slide .product-card .btn:hover {
          color: #fff; }
          .new-products .new-products-wrap .swiper-slide .product-card .btn:hover:before {
            width: 140%; }

.about {
  padding: 50px 0 100px;
  background: #FAFAFA; }
  @media (max-width: 1024px) {
    .about {
      padding: 20px 0; } }
  .about h2 {
    color: #CCC;
    font-family: "Noto Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: left; }
    @media (max-width: 1024px) {
      .about h2 {
        text-align: center;
        margin-bottom: 20px; } }
  .about .about-block {
    background-image: url("/assets/images/door.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50% 100%; }
    @media (max-width: 1024px) {
      .about .about-block {
        background-image: none; } }
    .about .about-block img {
      display: none;
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
      object-fit: cover; }
      @media (max-width: 1024px) {
        .about .about-block img {
          display: block; } }
    .about .about-block .content {
      display: flex;
      justify-content: flex-end; }
      @media (max-width: 1024px) {
        .about .about-block .content {
          flex-direction: column;
          gap: 20px; } }
      .about .about-block .content .text {
        width: calc((100% - 100px)/2);
        display: flex;
        flex-direction: column;
        gap: 25px; }
        @media (max-width: 1024px) {
          .about .about-block .content .text {
            width: 100%; } }
        .about .about-block .content .text span {
          color: #000;
          font-family: "Noto Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: normal; }
        .about .about-block .content .text p {
          color: #FCDB7E;
          font-family: "Noto Sans";
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase; }
        .about .about-block .content .text a {
          display: flex;
          padding: 18px 25px;
          align-items: center;
          gap: 20px;
          border-radius: 5px;
          background: #FFF;
          color: #242D2F;
          font-family: "Noto Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          position: relative;
          z-index: 1;
          overflow: hidden;
          width: fit-content; }
          .about .about-block .content .text a:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: 10rem;
            z-index: -2;
            transform-origin: bottom left;
            transform: skew(-45deg); }
          .about .about-block .content .text a:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #fac633;
            transition: all .3s;
            z-index: -1;
            transform-origin: top left;
            transform: skew(-45deg); }
          .about .about-block .content .text a:hover {
            color: #fff; }
            .about .about-block .content .text a:hover:before {
              width: 140%; }

.footer {
  width: 100%; }
  .footer .dark-row {
    width: 100%;
    padding: 100px 0;
    background: #242D2F; }
    @media (max-width: 1024px) {
      .footer .dark-row {
        display: none; } }
    .footer .dark-row .content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
    .footer .dark-row .footer_line {
      width: 1px;
      height: 82px;
      flex-shrink: 0;
      background: #526468; }
    .footer .dark-row .footer-contact {
      display: flex;
      flex-direction: column;
      gap: 20px; }
      .footer .dark-row .footer-contact p {
        color: #94989A;
        font-family: "Noto Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase; }
        @media (max-width: 1190px) {
          .footer .dark-row .footer-contact p {
            font-size: 13px; } }
      .footer .dark-row .footer-contact a {
        color: #FFF;
        font-family: "Noto Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; }
        @media (max-width: 1190px) {
          .footer .dark-row .footer-contact a {
            font-size: 13px; } }
        .footer .dark-row .footer-contact a.footer-phone {
          color: #FFF;
          font-family: "Noto Sans";
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          gap: 10px;
          align-items: center; }
          .footer .dark-row .footer-contact a.footer-phone:before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M21.7995 16.4767V19.1864C21.8037 20.2223 20.8723 21.0873 19.8265 20.9929C10.8001 21 3.80011 13.935 3.80717 4.96919C3.71298 3.92895 4.57369 3.00106 5.60822 3.00009H8.32336C8.76258 2.99577 9.18839 3.151 9.52142 3.43684C10.4682 4.24949 11.0772 7.00777 10.8429 8.10428C10.66 8.96036 9.79701 9.55929 9.2103 10.1448C10.4987 12.4062 12.3748 14.2785 14.6406 15.5644C15.2273 14.9788 15.8274 14.1176 16.6852 13.935C17.7856 13.7008 20.5616 14.3106 21.371 15.264C21.658 15.6021 21.8105 16.0337 21.7995 16.4767Z' stroke='%23BDA493' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            display: block; }
          @media (max-width: 1300px) {
            .footer .dark-row .footer-contact a.footer-phone {
              font-size: 18px; } }
      .footer .dark-row .footer-contact span {
        color: #FFF;
        font-family: "Noto Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; }
        @media (max-width: 1190px) {
          .footer .dark-row .footer-contact span {
            font-size: 13px; } }
    .footer .dark-row .social {
      display: flex;
      align-items: center;
      gap: 30px;
      align-self: stretch; }
      @media (max-width: 1190px) {
        .footer .dark-row .social {
          gap: 10px; } }
  .footer .dark-row-mobile {
    background: #242D2F;
    padding: 20px 0 30px;
    display: none; }
    @media (max-width: 1024px) {
      .footer .dark-row-mobile {
        display: block; } }
    .footer .dark-row-mobile .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px; }
      .footer .dark-row-mobile .content .social-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch; }
      .footer .dark-row-mobile .content .footer-line {
        width: 100%;
        height: 1px;
        flex-shrink: 0;
        background: #526468; }
      .footer .dark-row-mobile .content .footer-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        align-self: stretch; }
        .footer .dark-row-mobile .content .footer-contact p {
          color: #94989A;
          font-family: "Noto Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase; }
        .footer .dark-row-mobile .content .footer-contact span {
          color: #FFF;
          text-align: center;
          font-family: "Noto Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; }
        .footer .dark-row-mobile .content .footer-contact a {
          color: #FFF;
          font-family: "Noto Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; }
          .footer .dark-row-mobile .content .footer-contact a.footer-phone {
            color: #FFF;
            font-family: "Noto Sans";
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            gap: 10px;
            align-items: center; }
            .footer .dark-row-mobile .content .footer-contact a.footer-phone:before {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M21.7995 16.4767V19.1864C21.8037 20.2223 20.8723 21.0873 19.8265 20.9929C10.8001 21 3.80011 13.935 3.80717 4.96919C3.71298 3.92895 4.57369 3.00106 5.60822 3.00009H8.32336C8.76258 2.99577 9.18839 3.151 9.52142 3.43684C10.4682 4.24949 11.0772 7.00777 10.8429 8.10428C10.66 8.96036 9.79701 9.55929 9.2103 10.1448C10.4987 12.4062 12.3748 14.2785 14.6406 15.5644C15.2273 14.9788 15.8274 14.1176 16.6852 13.935C17.7856 13.7008 20.5616 14.3106 21.371 15.264C21.658 15.6021 21.8105 16.0337 21.7995 16.4767Z' stroke='%23BDA493' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              display: block; }
  .footer .orange-row {
    display: flex;
    padding: 15px 0;
    align-items: center;
    gap: 100px;
    align-self: stretch;
    background: #BC924D; }
    .footer .orange-row .content {
      display: flex;
      justify-content: space-between;
      gap: 20px; }
      @media (max-width: 768px) {
        .footer .orange-row .content {
          flex-direction: column;
          align-items: center; } }
    .footer .orange-row span {
      color: #FFF;
      font-family: "Noto Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
    .footer .orange-row p {
      color: #FFF;
      text-align: right;
      font-family: "Noto Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal; }
      @media (max-width: 768px) {
        .footer .orange-row p {
          text-align: center; } }

/*# sourceMappingURL=style.css.map */
